@{
    ViewBag.Title = "Home Page";
}
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

<p style="font-weight:bold; font-style: italic;">@ViewBag.Message</p>
<div class="jumbotron transparent text-center">
    <h1>SEL</h1>
    <p class="lead"><img src="@Url.Content("~/img/sparkling.png")" alt="Image" class="bg"/></p>
    <p>You don't need money to buy happiness. Here you can share joy, love and much more! </p>
    <p>Join the SEL community !</p>
</div>

<div class="row">
    <div class="col-md-4">
    @foreach (var o in @ViewBag.offer)
    {

        <div class="font h4">
            @if (@o.picture != null)
            {
                <a href="@Url.Action("Details","Offer", new { id=o.ID})"><img src="@Url.Content(@o.picture)" alt="image" class="img-responsive img-thumbnail homepicture" style="margin-bottom:10px;" /></a>
            }
            @o.name
        </div>
    }
    </div>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <div class="col-md-4 pull-right">
        <div id="googleMap" style="width:500px;height:380px;" class="pull-right"></div>
    </div>
    
</div>
<script type="text/javascript" src="~/Scripts/allOffers.js"></script>
<script>
    var long = @Html.Raw(Json.Encode(ViewBag.longitude));
    var lat=@Html.Raw(Json.Encode(ViewBag.latitude));
    var nbOffers = @ViewBag.nbOffer;
    initialize(lat,long,nbOffers);
</script>

