@model SEL.Models.User

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.firstname)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.firstname)
    @Html.ValidationMessageFor(model => model.firstname)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.lastname)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.lastname)
    @Html.ValidationMessageFor(model => model.lastname)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.pseudo)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.pseudo)
    @Html.ValidationMessageFor(model => model.pseudo)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.birthDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.birthDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.longitude)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.longitude)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.latitude)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.latitude)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.phone)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.phone)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.email)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.email)
    @Html.ValidationMessageFor(model => model.email)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.password)
</div>
<div class="editor-field">
    @Html.PasswordFor(model => model.password)
    @Html.ValidationMessageFor(model => model.password)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.city)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.city)
</div>

