@model SEL.Models.User

@* This partial view defines form fields that will appear when creating and editing entities *@
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
<div class="editor-label detailfont h4">
    @Html.LabelFor(model => model.firstname)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.firstname, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.firstname)
</div>

<div class="editor-label detailfont h4">
    @Html.LabelFor(model => model.lastname)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.lastname, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.lastname)
</div>

<div class="editor-label detailfont h4">
    @Html.LabelFor(model => model.pseudo)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.pseudo, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.pseudo)
</div>

<div class="editor-label detailfont h4">
    @Html.LabelFor(model => model.birthDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.birthDate,"{0:yyyy-MM-dd}", new { @class = "form-control", type = "date"})
</div>

<div class="editor-label detailfont h4">
    @Html.LabelFor(model => model.phone)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.phone, new { @class = "form-control" })
</div>

<div class="editor-label detailfont h4">
    @Html.LabelFor(model => model.email)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.email)
</div>

<div class="editor-label detailfont h4">
    @Html.LabelFor(model => model.password)
</div>
<div class="editor-field">
    @Html.PasswordFor(model => model.password, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.password)
</div>

<div class="editor-label detailfont h4">
    @Html.LabelFor(model => model.city)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.city, new { @class = "form-control" })
</div>
<form>
    <fieldset class="details">

        <input id="city" name="name" type="hidden" value="" data-geo="name" />

        <input id="lat" name="latitude" type="hidden" value="" data-geo="lat" />

        <input id="lng" name="longitude" type="hidden" value="" data-geo="lng" />

        <input id="location " name="location" type="hidden" value="" />

        <input id="country" name="country" type="hidden" value="" />

    </fieldset>
</form>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
<script src="~/Scripts/jquery.geocomplete.js"></script>
<script>

    $(document).ready(function ($) {
        $(function ($) {

            $("#city").geocomplete({
                details: ".details",
                detailsAttribute: "data-geo",
                types: ["geocode", "establishment"],
            });
            $("#city").geocomplete(function () {
                initialize();
            });

            $("#city").blur(function () {
                $("#geocomplete").trigger("geocode");
                initialize();
            });
            $("#examples a").click(function () {
                $("#geocomplete").val($(this).text()).trigger("geocode");
                return false;
            })
        });

    });
</script>