<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrap">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index", "Home")"><img src="~/img/sel.png" alt="image" class="logo" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Offers", "Index", "Offer")</li>
                        <li>@Html.ActionLink("À propos de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        @if (Session["login"] != null)
                        {
                            SEL.Models.User current = (SEL.Models.User)HttpContext.Current.Session["login"];
                            <li>@Html.ActionLink("Messages", "Index", "Message")</li>
                            <li>@Html.ActionLink("Users", "Index", "User")</li>
                            <li>@Html.ActionLink("Me", "Details", "User", new { id = current.ID }, null)</li>

                        }
                    </ul>
                    <div class="navbar-right">
                        @if (Session["login"] == null)
                        {
                            <ul class="nav pull-right">
                                <li class="dropdown" id="menuLogin">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Login</a>
                                    <div class="dropdown-menu" style="padding:17px;">
                                        @Html.Partial("_login")
                                    </div>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <div style="padding:17px;">
                                @Html.ActionLink("Logout", "Logout", "Home")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            @RenderBody()
            </div>
        </div>
    <div class="footer">
        <footer>

            <div class="container">
                <p style="padding: 20px">&copy; @DateTime.Now.Year - Lucien Moor, Léa von Muralt</p>
            </div>
        </footer>
   </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
