@model IEnumerable<SEL.Models.Offer>

@{
    ViewBag.Title = "All offers";
}

<h2>Index</h2>
@Html.Partial("_searchBar", Model)
<p>
    @if(Session["login"]!=null)
    {
        @Html.ActionLink("Create New", "Create")
    }
    
</p>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Begin</th>
                <th>End</th>
                <th>Location</th>
                <th>Owner</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.name
                </td>

                <td>
                    @item.description
                </td>
                <td>
                    @String.Format("{0:g}", item.beginDate)
                </td>
                <td>
                    @String.Format("{0:g}", item.endDate)
                </td>
                <td>
                    @item.city
                </td>
                <td>
                    @item.getOwnerPseudo(item.ownerID)
                </td>
                @if (Session["login"] != null)
                {
                    <td>
                        <a href="@Url.Action("Details", new { id=item.ID})">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </a>
                    </td>
                    SEL.Models.User current = (SEL.Models.User)HttpContext.Current.Session["login"];
                    if (current.ID == item.ownerID)
                    {
                        <td>
                            <a href="@Url.Action("Edit", new { id=item.ID})">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                        </td>

                        <td>
                            <a href="@Url.Action("Delete", new { id=item.ID})">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    }

                }
            </tr>
        }

    </table>

</div>
