@model IEnumerable<SEL.Models.Offer>


@{
    ViewBag.Title = "All offers";
}
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
<div class="container central-Content">
    <h2 class="font">Offers index</h2>
    @Html.Partial("_searchBar", Model)
    <p class="font h4">
        @if (Session["login"] != null)
        {
            <i class="glyphicon glyphicon-plus h5"></i>
            @Html.ActionLink("Add a new offer", "Create")
        }

    </p>
    @foreach (var item in Model)
    {

        <div class="col-md-2">

            <div class="container offer">
                @if (item.picture != null)
                {
                    <div class="">
                        <p><a href="@Url.Action("Details", new { id=item.ID})"><img src="@Url.Content(item.picture)" alt="image" class="img-responsive picture" style="margin-top:10px;" /></a></p>
                    </div>
                }

                <p class="font h2">@item.name</p>
                <p class="font h4">@item.city</p>


                <a href="@Url.Action("Details", new { id=item.ID})">
                    <i class="glyphicon glyphicon-eye-open h4"></i>
                </a>
                @if (Session["login"] != null)
                {
                    SEL.Models.User current = (SEL.Models.User)HttpContext.Current.Session["login"];
                    if (current.ID == item.ownerID)
                    {



                        <a href="@Url.Action("Edit", new { id=item.ID})">
                            <i class="glyphicon glyphicon-pencil h4"></i>
                        </a>

                        <a href="@Url.Action("Delete", new { id=item.ID})">
                            <i class="glyphicon glyphicon-trash h4"></i>
                        </a>

                    }

                }
            </div>
        </div>
    }
</div>
