@model SEL.Models.Message

@* This partial view defines form fields that will appear when creating and editing entities *@
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
<div class="editor-label detailfont h4">
    @Html.LabelFor(model => model.title)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.title)
</div>
<div class="editor-label detailfont h4">
    @Html.LabelFor(model => model.message)
</div>
<div class="editor-field">
    <p class="detailfont h5">@ViewBag.destUserPseudo</p>
    @Html.TextAreaFor(model => model.message, new { @class = "form-control"})
    @Html.ValidationMessageFor(model => model.message)
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script>
    $(document).ready(function ($) {
        var nameUsers = @Html.Raw(Json.Encode(ViewBag.nameUsers));
        var $dest = $('#dest');
        $dest.autocomplete({
            source: nameUsers
        });
    });

</script>
<div class="editor-label detailfont h4">
    <p class="detailfont h4">To</p>
    @Html.TextBox("dest", (string)ViewBag.destUserPseudo, new { @class = "form-control" })
</div>


