@model SEL.Models.Message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Message</legend>

    <div class="display-label">message</div>
    <div class="display-field">@Model.message</div>

    <div class="display-label">title</div>
    <div class="display-field">@Model.title</div>

    <div class="display-label">sender</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.sender).ToString()</div>

    <div class="display-label">dest</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.dest).ToString()</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


