@model IEnumerable<SEL.Models.Message>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (Session["login"] != null)
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Message</th>
                <th>From</th>
                <th>To</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.title
                </td>
                <td>
                    @item.message
                </td>
                <td>
                    @Html.DisplayTextFor(_ => item.sender).ToString()
                </td>
                <td>
                    @Html.DisplayTextFor(_ => item.dest).ToString()
                </td>
                @if (Session["login"] != null)
                {
                    <td>
                        <a href="@Url.Action("Details", new { id=item.ID})">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </a>
                    </td>
                }
            </tr>
        }

    </table>
</div>

